﻿@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
@{
    ViewBag.Title = "List of Shops";
}
@using GreatShopWebUI.Models
@model IEnumerable<Product>

<div>
    @Html.ActionLink("Show full list", "Index", "Product")
</div>
<div id="list">
    @Html.Partial("List", Model)
</div>
@Html.Partial("Create", new Product())
