﻿@{
    ViewBag.Title = "Shops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
@{
    ViewBag.Title = "List of Shops";
}
@using GreatShopWebUI.Models
@model IEnumerable<Shop>

<div id="list">
    @Html.Partial("List", Model)
</div>
@Html.Partial("Create", new Shop())